:host {
  .items-block {
    margin-top: 35px;

    .button-wrapper {
      text-align: center;
      margin-top: 30px;

      &.remove {
        margin-bottom: 20px;
      }

      &.remove {
        margin-top: 20px;
      }
    }

    .edit-title-input {
      margin-bottom: 30px;
    }

    .item {
      font-size: 12px;
      margin-top: 1px;
    }

    .remove-option {
      --background: lime;
      --color: #000000;
      border: 1px solid #000000;
      margin: 2px;
      font-size: 12px;
    }

    .list-items {
      margin-top: 20px;
      height: 100%;
    }
  }
}
