.container {
  --padding-end: 30px;
  --padding-start: 30px;
  --padding-top: 40px;
  --padding-bottom: 40px;
  --background: #000000;
  --color: lime;
  font-size: 12px;
  --ion-font-family: 'Courier';
}

p {
  letter-spacing: 2px;
}
